*
{
    font-family: 'Poppins',sans-serif;  
}
.products
{
    background: #fff;
}
.container-fluid img
{
    width: 150px;
    height: 100px;
}

.container h2
{
    text-align: center; 
    padding-top: 20px;   
}
.container .row
{
    margin-left: 45px;
}
.container .row .card
{
   margin-top: 30px;
   margin-left: 10px;
   border: none;
   background: radial-gradient(#fff,#ffd6d6);
   margin-bottom: 10px;
}
.container .row .card img
{
    width: 250px;
    height: 250px;
    margin-left: 7px;
    margin-top: 9px;
}
.container .row .card a
{
    background: aquamarine;
    border: none;
}
footer
{
    align-items: center;
    background-color: #e3f2fd;
}
footer h4
{
    margin-left: 47%;
    padding-top: 10px;
}
footer .icon
{
    margin-left: 37%;
}
footer .icon i
{
    margin-left: 50px;
}